<h2>All cars Pieces</h2>

<ul>
  {{#each pieceData}}
  <div class="liste">
    <div>
      <img src="{{this.imag}}" alt="avatar"></div>
    <p>
      <br class="overflow-ellipsis">
      Piece Marque : {{this.pieceMarque}}
      </br>
      Model : {{this.model}}
      <br>
      Genre: {{this.genre}}
      Year : {{this.year}}
      <br>
      Descriptif : {{this.descriptif}}

    </p>
  </div>
  {{/each}}
</ul>