<h1>Toutes les Pieces de tous les Users</h1>
<a href="/">Acceuille Logo</a>
{{#each pieceData}}
<ul>
  <li>{{this.pieceMarque}}</li>
  <li>{{this.model}}</li>
  <li>{{this.genre}}</li>
  <li>{{this.year}}</li>
  <li>{{this.descriptif}}</li>
</ul>
{{/each}}