<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h2>Toutes les pieces</h2>

<ul>
  {{#each pieceData}}
  <li>
    <p><img src="{{this.imag}}" alt="avatar"></p>
    <p>Piece Marque : {{this.pieceMarque}}</p>
    <p>Model : {{this.model}}<br>
      Year : {{this.year}}<br>
      Descriptif : {{this.descriptif}}</p>

  </li>
  {{/each}}
</ul>