<section class="section_Home_Container">
  <h1>Welcome to Collection Cars</h1>
  <p>The Only Collection Cars Website</p>
  <a href="/dashboard_piece">All pieces</a>

  <h2>Toutes les voitures:</h2>

  
    {{#each carData}}
      <div class="model_Container">
      <img src="{{this.imag}}" alt="avatar">
      <div class="model_Text_Container">
        <span>
          Marque de la voiture : {{this.carMarque}}
        </span>
        <span>
          Model : {{this.model}}
        </span>
        <span>
          Annee : {{this.year}}
        </span>
        <span>
          Descriptif : {{this.descriptif}}
        </span>
      </div>
      </div>

    {{/each}}
</section>