<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/dashboard_piece">All pieces</a>

<h2>Toutes les voitures:</h2>

<ul>
  {{#each carData}}
  <li><img src="{{this.imag}}" alt="avatar"></li>
  <li>
    Marque de la voiture : {{this.carMarque}}
    Model : {{this.model}}
    Annee : {{this.year}}
    Descriptif : {{this.descriptif}}</p>

  </li>
  {{/each}}
</ul>