<a href="/dashboard_piece" class="custom_User_btn">All pieces</a>


<h2>All Cars of all user</h2>

{{#each carData}}
<div class="liste">
  <div>
    <img src="{{this.imag}}" alt="avatar"></div>
  <div>
    <p class="overflow-ellipsis">
      Marque de la voiture : {{this.carMarque}}
      <br>
      Model : {{this.model}}
      <br>
      Annee : {{this.year}}<br>
      Descriptif : {{this.descriptif}}</p>


  </div>
  <p></p>
</div>

{{/each}}
</section>