<h3>Hello <span class="username">{{userDoc.username}}</span>, Good to see you!!</h3>
<button id="create-car-form" class="custom_User_btn">Form Car</button>
<button id="create-piece-form" class="custom_User_btn">Form Piece</button></p>
<h2>All cars and pieces for one user</h2>
<h1>CARS</h1>

{{#each cars}}
<div class="liste">
  <div>
    <img src="{{this.imag}}" alt="avatar">
    <div>
      <p class="overflow-ellipsis">
        Marque de la voiture : {{this.carMarque}}<br>
        Model : {{this.model}}<br>
        Annee : {{this.year}}</p>
      <p><a href="/delete/{{_id}}">Delete x</a></p>
    </div>
  </div>
</div>
{{/each}}


<h1>PIECES</h1>

{{#each pieces}}
<div class="liste">
  <div>
    <img src="{{this.imag}}" alt="avatar"></p>
    <div>
      <p class="overflow-ellipsis">
        Piece Marque : {{this.pieceMarque}}</p>
      <p>Model : {{this.model}}<br>
        Year : {{this.year}}<br>
        Descriptif : {{this.descriptif}}</p>
      <p><a href="/deletePiece/{{_id}}">Delete x</a></p>
    </div>
  </div>
</div>
{{/each}}


<!-- The Modal -->
<div id="modal-car" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="close-car" class="close">&times;</span>
    <h2 class="title">Create a new Car</h2>

    <form method="post" enctype="multipart/form-data" action="/car" id="form_create_car" class="form">

      <div class="input_Container">
        <label for="marque" class="label_log">Marque</label>
        <input id="marque" type="text" value="" name="carMarque" required>
      </div>

      <div class="input_Container">
        <label for="model" class="label_log">Model</label>
        <input id="model" type="text" value="" name="model" required>
      </div>

      <div class="input_Container">
        <label for="color" class="label_log">color</label>
        <input id="color" type="text" value="" name="color" required>
      </div>

      <div class="input_Container">
        <label for="year" class="label_log">Year</label>
        <input id="year" type="number" value="" name="year" required>
      </div>

      <div class="input_Container">
        <label for="descriptif" class="label_log">Tell us your descriptif :</label>
        <textarea id="descriptif" name="descriptif" rows="5" cols="33">
          IMPORTANT : 
          TOUS LES TECHNICIENS, BONS OU MAUVAIS SAVENT LE FAIRE SANS DEMONTAGE EVIDEMMENT.
          MAIS SEULS LES MEILLEURS ET CEUX QUI SONT EXPÉRIMENTÉS LE FONT DANS LES RÈGLES DE L'ART AVEC DEMONTAGE. 
          NOUS MAITRISONS , EN TANT QUE PROFESSIONNEL SPECIALISE, CETTE TECHNIQUE DE POSE.
          Spécialiste.
        </textarea>
      </div>

      <div class="input_Container">
        <label for="image" class="label_log">Image</label>
        <input id="image" type="file" name="imag"></input>
      </div>

      <div class="input_Container">
        <label for="image" class="label_log"></label>
        <input id="ownerId" type="hidden" value="{{userDoc._id}}" name="ownerId"></input>
      </div>

      <button id="btn_create_user" class="btn custom_User_btn">Create</button>


    </form>
  </div>

</div>
<!-- The Modal -->
<div id="modal-piece" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span id="close-piece" class="close">&times;</span>
    <h2 class="title">Create a new Piece</h2>


    <form method="post" action="/piece" enctype="multipart/form-data" id="form_create_piece" class="form">

      <div class="input_Container">
        <label for="marque" class="label_log">Piece Marque</label>
        <input id="marque" type="text" value="" name="pieceMarque" required>
      </div>

      <div class="input_Container">
        <label for="model" class="label_log">Model</label>

        <input id="model" type="text" value="" name="model" required>
      </div>

      <div class="input_Container">

        <label for="genre" class="label_log">Genre</label>
        <input id="genre" type="text" value="" name="genre" required>
      </div>

      <div class="input_Container">


        <label for="year" class="label_log">Year</label>
        <input id="year" type="number" value="" name="year" required>
      </div>

      <div class="input_Container">


        <label for="descriptif" class="label_log">Tell us your descriptif :</label>
        <textarea id="descriptif" name="descriptif" rows="5" cols="33">
        </textarea>
      </div>

      <div class="input_Container">

        <label for="image" class="label_log">Image</label>
        <input id="image" type="file" name="imag"></input>
        {{!-- the name comes from the index.js file --}}
        {{!-- type file is needed for it to work --}}
      </div>

      <div class="input_Container">
        <label for="image" class="label_log"></label>

        <input id="ownerId" type="hidden" value="{{userDoc._id}}" name="ownerId"></input>
      </div>

      <button id="btn_create_user" class="btn custom_User_btn">Create</button>


    </form>

  </div>

</div>